body {
    background-color: white;
    font-size: 12px;
}
.resourceslist {
    cursor: default;
    position: relative;
    margin: 0px auto 20px auto;
    padding: 0px 15px 25px;
    min-width: 1110px;
    border-spacing: 0px;
}
.resourceslist:first-of-type {
    margin: 120px auto 20px auto;
}
.framedomain, .frameurl, .frametype {
    text-align: left;
    font-size: small;
}
[data-column="type"] {
    width: 100px;
}
[data-column="filter"] {
    width: 290px;
}
[data-column="thirdparty"] {
    width: 100px;
}
.blocked {
    color: red;
}
.whitelisted {
    color: green;
}
.hiding {
    color: blue;
}