body {
  background-color: #f8f8f8;
  margin: 0px;
}
#wrapper {
  margin: 0px 0px;
  width: 275px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.separator {
  width: 100%;
  border-top: 2px groove white;
  margin: 5px -5px 5px -3px;
}
.logo {
  cursor: pointer;
  height: auto;
  width: 45%;
}
.menu-entry {
  padding: 4px 4px 4px 8px;
  cursor: pointer;
}
.menu-entry:hover {
  -webkit-transition: all 0.3s ease-out;
  background: #F2F2F2;
}
.menu-status {
  padding: 4px 2px 0px 8px;
}
.info {
  background: #f7f6f2;
  margin: 5px;
  padding: 0px 5px 0px 5px;
  background: #f7f6f2;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.10);
}
#titletext {
  padding: 8px 8px 2px 0px;
  text-align: center;
}
.box {
  margin: 5px 3px 5px 0px;
  background: #f7f6f2;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.10);
}
#link_open {
  padding: 0px 0px 3px 8px;
}
#link_close {
  margin-top: -7px;
  font-family: "Courier", sans-serif;
}
#block_counts {
  display: none;
  margin-bottom: 1em;
}
.header {
  font-weight: bold;
}
.block_count_number {
  font-weight: bold;
  color: red;
}
#block_counts_controls {
  margin-top: 1em;
  padding-left: 1px;
}
a {
  color: #4D7BD6;
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: red;
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url('../../font/OpenSans.woff') format('woff');
  -webkit-font-smoothing: antialiased;
}
